
<div class="nav">
    <button class="nav__button" id="first-button" routerLink="/">Home</button>
    <button class="nav__button" routerLink="/work-experience">Work Experience</button>
    <button class="nav__button" routerLink="/freelance">Freelance</button>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <!-- <script>
        function myFunction() {
          var x = document.getElementById("nav");
          if (x.className === "nav") {
            x.className += " responsive";
          } else {
            x.className = "nav";
          }
        }
        </script> -->
</div>