<footer class="footer">
    <div class="footer__top">
    <div class="footer__horizontal-line"></div>
    <div class="footer__icons">
        <div class="footer__icon">
            <a href="https://www.linkedin.com/in/jamie-junk-0a9304177/">
                <img src="./assets/images/linkin.svg" alt="" class="icon">
            </a>
        </div>
        <div class="footer__icon">
            <a href="https://www.instagram.com/jamie.junk.10/">
            <img src="./assets/images/instagram-svg.svg" alt="" class="icon">
        </a>
        </div>
        
        <div class="footer__icon">
            <a href="https://github.com/st10084689">
            <img src="./assets/images/github-svg.svg" alt="" class="icon">
        </a>
        </div>
    </div>
    <div class="footer__horizontal-line"></div>
    </div>
    <p>Copyright © Jamie Theo Junk 2021</p>
</footer>
