<div class="top-section">

    <div class="image_section">
        <h1 class="title">Jamie Theo <br>Junk</h1>
    </div>

        <div class="read-more">

        <p class="read-more__p">I'm an aspiring programmer looking to put my talents to the test and make a positive impact on the world.  With a passion for problem-solving and a dedication to continuous learning, I'm eager to tackle challenges and create innovative solutions. Although I'm still growing my skills, I'm highly motivated and ready to contribute to a dynamic team.</p>
          
        <!-- <button class="read-more__button">Read More</button> -->
    </div>
</div>
