.about{
    padding: 2rem 0px;
    background-image: linear-gradient(to right, rgb(44, 45, 45),rgb(187, 186, 186) 50%,rgb(255, 255, 255));
    display: flex;
    
    }
    .cv{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: auto;
        margin-left: 50px;
    }
    .cv-prompt{
        color: white;
        margin-top: 50px;
        font-size: 55px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .cv__button{
        background-color: rgb(255, 245, 53);
        color: white;
        height: 100px;
        width: 200px;
        font-weight: 400;
        font-size: 30px;
        border-radius: 20px;
        margin: 50px auto;  
    }
    
    .cv__button:hover{
        background-color: rgb(255, 209, 2);
    }
    .follow-me{
        color:white;
       
    }
    .read-more{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        width: 50%;
    
    }
    .read-more__p{
    color: white;
    width: 75%;
    font-size: 17px;
    
    }
    
    .read-more__icons{
        display: flex;
        justify-content: center;
        column-gap: 40px;
        
        }
       
    .read-more__icon p{
    color: white;
    }
    .read-more__img{
        width: 50px;
        height: 50px;
        object-fit:cover ;
        border-radius: 25%;
        transition: transform 0.1s;
    }
    .read-more__img:hover{
        transform: scale(1.1);
    }
    .read-more__button{
     color: white;
     margin: auto auto 40px 0px;
     font-size: large;
     background-color: rgba(119, 119, 119, 0.651);
     padding: 20px 40px;
     border-radius: 5px;
    }
    #jamie-image {
        height: 600px;
        width: 400px;
        object-fit: cover;
    }
    .about__image {
        overflow: hidden;
        height: 500px;
        width: 400px;
        border-width: 3px; 
        border-radius: 20px; 
        border-style: solid;
        border-color: rgb(0, 0, 0);
        margin: auto 0px;
        margin-right: 200px;
    }
    