<div class="about"> 
    <div class="cv">
        <h2 class="cv-prompt">Download my CV!</h2>
        <button class="cv__button" (click)="downloadPdf()"> CV </button>   
          <div class="read-more__icons">
            <button class="read-more__icon">
                <a href="https://github.com/st10084689">
            <img class="read-more__img" src="./assets/images/github.jpg" alt="Github">
        </a>
            <p>Github</p>
            </button>

            <button class="read-more__icon">
                <a href="https://www.linkedin.com/in/jamie-junk-0a9304177/">
            <img class="read-more__img" src="./assets/images/linked-in.png" alt="LinkedIn">
        </a>
            <p>LinkedIn</p>
            </button>
        </div>
    </div>
    <div class="about__image">
        <img src="./assets/images/third-pic-jamie.jpg" alt="my-image" id="jamie-image">
    </div>
    
</div>

