<div class="freelance">
    <h2 class="title">Get A Quote</h2>
    <div class="freelance__containers">
<div class="freelance__container" (click)="getQuote('Android')">
<p class="freelance__container-p">
    Android App
</p>
<img src="/assets/images/android.svg" alt="" class="freelance__container-img">
</div>
<div class="freelance__container" (click)="getQuote('Website')">
   <p class="freelance__container-p">
    Website
   </p>
    <img src="/assets/images/html.svg" alt="" class="freelance__container-img">
</div>
</div>
</div>
